body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #131314; /* Google Blue */
    color: #000000; /* Black text */
}

header {
    background-color: #131314; /* Google Blue */
    color: #ffffff; /* White text */
    padding: 20px;
    text-align: center;
}

.container {
    color: white;
    background-color: #131314; /* Google Blue */
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
    text-align: start;
}

img {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
}

form {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    color: black;
    width: 100%;
    background-color: #ffff; /* Google Blue */
    margin-top: 20px;
    padding: 50px;
}
.form1{
    width: 45%;
}
.form_container{
    display: flex;
    justify-content: space-between;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
button {
    margin-bottom: 15px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #131314; /* Google Blue */
    color: #ffffff; /* White text */
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #122f5f; /* Darker shade of Google Blue */
}

footer {
    background-color: #f2f2f2; /* Light grey background */
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
